{% extends "catalog/antenna_type_base.html" %}

{% block title %}
    Update {{ antenna_type }}
{% endblock %}

{% block content %}
<h1><a href={% url "antenna_type_list" %}>AntennaType</a></h1>
<h2>Update {{ antenna_type }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "antenna_type_detail" antenna_type.pk %}>Cancel</a>
<form style="display:inline;" action={% url "antenna_type_delete" antenna_type.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ antenna_type }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}