{% extends "catalog/antenna_type_base.html" %}

{% block title %}
    Antenna types
{% endblock %}

{% block content %}
    <h1>Antenna types</h1>
    <h4><a href={% url "antenna_type_create" %}>Define a new type of antenna</a></h4>
    <ul>
    {% for antenna_type in antenna_type_list %}
        <li><a href={% url "antenna_type_detail" antenna_type.pk %}>{{ antenna_type }}</a> | <a href={% url "antenna_type_update" antenna_type.pk %}>Update</a> | <form style="display:inline;" action={% url "antenna_type_delete" antenna_type.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ antenna_type }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No types of antennas have been defined yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

