{% extends "catalog/astronaut_base.html" %}

{% block title %}
    Update {{ astronaut }}
{% endblock %}

{% block content %}
<h1><a href={% url "astronaut_list" %}>Astronaut</a></h1>
<h2>Update {{ astronaut }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "astronaut_detail" astronaut.pk %}>Cancel</a>
<form style="display:inline;" action={% url "astronaut_delete" astronaut.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ astronaut }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}