{% extends "base.html" %}
{% load mine %}

{% block title %}
    {{ object }}
{% endblock %}

{% block content %}
    <div class="page-header"><h1>{{ object }}</h1></div>
    <a href="{{ object.get_list_url }}">Back to index</a>
    <a href="{{ object.get_update_url }}">Edit</a>
    {% if object.picture %}
        <img src="{{ object.picture.url }}" />
    {% endif %}
    <p>{{ object.biography }}</p>
    <dl class="dl-horizontal">
        <dt>Nationality:</dt><dd>{{ object.nationadtty }}</dd>
        <dt>Organization:</dt><dd><a href="{{ object.organization.get_absolute_url }}">{{ object.organization }}</a></dd>
        <dt>Born:</dt><dd>{{ object.birth_date }}</dd>
        <dt>Birth place:</dt><dd>{{ object.birth_place }}</dd>
        {% if object.death_date %}    
            <dt>Died:</dt><dd>{{ object.death_date }}</dd>
        {% endif %}
    </dl>
    <ul class="list-unstyled">
        <li><strong>Missions flown:</strong> {{ object.mission_set.all.count }}</li>
        {% for mission in object.mission_set.all %}
        <li><strong><a href="{{ mission.get_absolute_url }}">{{ mission }}</a></strong> - {{ mission.launch_date }}</li>
        {% endfor %}
    </ul>
    <h4>Sources:</h4>
    <p>{{ object.sources }}</p>
{% endblock %}