{% extends './generic_detail.html' %}

{% block otherstuff %}
    <dl class="dl-horizontal">
        <dt>Role:</dt><dd>{% if object.role %}Fuel{% else %}Oxidizer{% endif %}</dd>
        <dt>Chemical formula:</dt><dd>{{ object.chemical_formula }}</dd>
        <dt>Also known as:</dt><dd>{{ object.also_known_as }}</dd>
        {% if object.variety_of %}
        <dt>Variety of:</dt><dd><a href='{{ object.variety_of.get_absolute_url }}'>{{ object.variety_of }}</a></dd>
        {% endif %}
    </dl>
    <h4>Physical properties:</h4>
    <dl class="dl-horizontal">
        <dt>Density:</dt><dd>{{ object.density }}</dd>
        <dt>Melting point:</dt><dd>{{ object.melting_point }}</dd>
        <dt>Boiling point:</dt><dd>{{ object.boiling_point }}</dd>
    </dl>
    <h4>Other characteristics:</h4>
    <dl class="dl-horizontal">
        <dt>Appearance:</dt><dd>{{ object.appearance }}</dd>
        <dt>Toxicity:</dt><dd>{{ object.toxicity }}</dd>
        <dt>Storability:</dt><dd>{{ object.storability }}</dd>
    </dl>
    {% if object.propellantmix_set.all %}
    <h4>Employed in:</h4>
    <ul class="list-unstyled">
        {% for mix in object.propellantmix_set.all %}
        <li><strong>{{ mix }}</strong> Isp{{ mix.specific_impulse }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}