{% extends "catalog/cooling_base.html" %}

{% block title %}
    {{ cooling }}
{% endblock %}

{% block content %}
    <h1><a href={% url "cooling_list" %}>Cooling</a></h1>
    <h2>{{ cooling }} | <a href={% url "cooling_update" cooling.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "cooling_delete" cooling.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ cooling }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}