{% extends "catalog/cooling_base.html" %}

{% block title %}
    Cooling systems
{% endblock %}

{% block content %}
    <h1>Cooling systems</h1>
    <h2><a href={% url "cooling_create" %}>Create new Cooling</a></h2>
    <ul>
    {% for cooling in cooling_list %}
        <li><a href={% url "cooling_detail" cooling.pk %}>{{ cooling }}</a> | <a href={% url "cooling_update" cooling.pk %}>Update</a> | <form style="display:inline;" action={% url "cooling_delete" cooling.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ cooling }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No Cooling systems yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

