{% extends "catalog/crewed_spacecraft_base.html" %}

{% block title %}
    Update {{ crewed_spacecraft }}
{% endblock %}

{% block content %}
<h1><a href={% url "crewed_spacecraft_list" %}>CrewedSpacecraft</a></h1>
<h2>Update {{ crewed_spacecraft }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "crewed_spacecraft_detail" crewed_spacecraft.pk %}>Cancel</a>
<form style="display:inline;" action={% url "crewed_spacecraft_delete" crewed_spacecraft.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ crewed_spacecraft }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}