{% extends "catalog/crewed_mission_base.html" %}

{% block title %}
    Update {{ crewed_mission }}
{% endblock %}

{% block content %}
<h1><a href={% url "crewed_mission_list" %}>CrewedMission</a></h1>
<h2>Update {{ crewed_mission }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "crewed_mission_detail" crewed_mission.pk %}>Cancel</a>
<form style="display:inline;" action={% url "crewed_mission_delete" crewed_mission.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ crewed_mission }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}