{% extends "catalog/crewed_mission_base.html" %}

{% block title %}
    CrewedMissions
{% endblock %}

{% block content %}
    <h1>CrewedMissions</h1>
    <h2><a href={% url "crewed_mission_create" %}>Create new CrewedMission</a></h2>
    <ul>
    {% for crewed_mission in crewed_mission_list %}
        <li><a href={% url "crewed_mission_detail" crewed_mission.pk %}>{{ crewed_mission }}</a> | <a href={% url "crewed_mission_update" crewed_mission.pk %}>Update</a> | <form style="display:inline;" action={% url "crewed_mission_delete" crewed_mission.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ crewed_mission }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No CrewedMissions yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

