{% extends "catalog/crewed_spacecraft_base.html" %}

{% block title %}
    {{ crewed_spacecraft }}
{% endblock %}

{% block content %}
    <h1><a href={% url "crewed_spacecraft_list" %}>CrewedSpacecraft</a></h1>
    <h2>{{ crewed_spacecraft }} | <a href={% url "crewed_spacecraft_update" crewed_spacecraft.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "crewed_spacecraft_delete" crewed_spacecraft.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ crewed_spacecraft }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}