{% extends "catalog/electricity_source_base.html" %}

{% block title %}
    {{ electricity_source }}
{% endblock %}

{% block content %}
    <h1><a href={% url "electricity_source_list" %}>ElectricitySource</a></h1>
    <h2>{{ electricity_source }} | <a href={% url "electricity_source_update" electricity_source.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "electricity_source_delete" electricity_source.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ electricity_source }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}