{% extends './generic_detail.html' %}

{% block otherstuff %}
    <dl class="dl-horizontal">
        <dt>Original name:</dt><dd>{{ object.native_name }}</dd>
        <dt>Application:</dt><dd><a href="{{ object.application.get_absolute_url }}">{{ object.application }}</a></dd>
        {% if object.variant_of %}
        <dt>Variant of:</dt><dd><a href='{{ object.variant_of.get_absolute_url }}'>{{ object.variant_of }}</a></dd>
        {% endif %}
        {% if object.engine_set %}
        <dt>Variants:</dt><dd>{% for variant in object.engine_set.all %}<a href='{{ variant.get_absolute_url }}'>{{ variant }}</a>{% endfor %}</dd>
        {% endif %}
        <dt>Country:</dt><dd>{{ object.country }}</dd>
        <dt>Manufacturer:</dt><dd><a href='{{ object.manufacturer.get_absolute_url }}'>{{ object.manufacturer }}</a></dd>
        <dt>Developed:</dt><dd>{{ object.developed }}</dd>
        <dt>First flight:</dt><dd>{{ object.first_flight }}</dd>
    </dl>
    <h4>Performance:</h4>
    <dl class="dl-horizontal">
        <dt>Specific impulse in vacuum:</dt><dd>{{ object.specific_impulse_vac }}</dd>
        <dt>Specific impulse at sea level:</dt><dd>{{ object.specific_impulse_sl }}</dd>
        <dt>Thrust in vacuum:</dt><dd>{{ object.thrust_vac }}</dd>
        <dt>Thrust at sea level:</dt><dd>{{ object.thrust_sl }}</dd>
        <dt>Coefficient of thrust in vacuum:</dt><dd>{{ object.boiling_point }}</dd>
        <dt>Coefficient of thrust at sea level:</dt><dd>{{ object.boiling_point }}</dd>
        <dt>Thrust-to-weight ration:</dt><dd>{{ object.twr }}</dd>
        <dt>Rated burn time:</dt><dd>{{ object.rated_burn_time }}</dd>
    </dl>
    <h4>Metrics:</h4>
    <dl class="dl-horizontal">
        <dt>Height:</dt><dd>{{ object.height }}</dd>
        <dt>Diameter:</dt><dd>{{ object.diameter }}</dd>
        <dt>Dry weight:</dt><dd>{{ object.dry_weight }}</dd>
    </dl>
    <h4>Ignition!:</h4>
    <dl class="dl-horizontal">
        <dt>Cycle:</dt><dd><a href='{{ object.cycle.get_absolute_url }}'>{{ object.cycle }}</a></dd>
        <dt>Injector type:</dt><dd><a href='{{ object.injector_type.get_absolute_url }}'>{{ object.injector_type }}</a></dd>
        <dt>Ignition method:</dt><dd><a href='{{ object.ignition_method.get_absolute_url }}'>{{ object.ignition_method }}</a></dd>
    </dl>
    <h4>Combustion:</h4>
    <dl class="dl-horizontal">
        <dt>Propellants:</dt><dd><a href='{{ object.propellants.get_absolute_url }}'>{{ object.propellants }}</a></dd>
        <dt>Mixture ratio:</dt><dd>{{ object.mixture_ratio }}</dd>
        <dt>Chamber pressure:</dt><dd>{{ object.chamber_pressure }}</dd>
        <dt>Combustion chambers:</dt><dd>{{ object.combustion_chambers }}</dd>
    </dl>
    <h4>Nozzle:</h4>
    <dl class="dl-horizontal">
        <dt>Nozzle shape:</dt><dd><a href='{{ object.nozzle_shape.get_absolute_url }}'>{{ object.nozzle_shape }}</a></dd>
        <dt>Nozzle ratio:</dt><dd>{{ object.nozzle_ratio }}</dd>
        <dt>Nozzle material:</dt><dd><a href='{{ object.nozzle_material.get_absolute_url }}'>{{ object.nozzle_material }}</a></dd>
        <dt>Cooling method:</dt><dd><a href='{{ object.cooling_method.get_absolute_url }}'>{{ object.cooling_method }}</a></dd>
    </dl>
    <h4>Flexibility:</h4>
    <dl class="dl-horizontal">
        <dt>Restart capability:</dt><dd>{{ object.restart_capability }}</dd>
        {% if object.restart_capability %}
        <dt>Number of restarts:</dt><dd>{{ object.num_restarts }}</dd>
        {% endif %}
        <dt>Throttle range:</dt><dd>{{ object.throttle_range_min }} - {{ object.throttle_range_max }}</dd>
    </dl>
    <h3>Used on</h3>
    {% if object.stage_set.all %}
    <h5>Stages</h5>
    <ul class="list-unstyled">
        {% for stage in object.stage_set.all %}
        <li><strong><a href="{{ stage.get_absolute_url }}">{{ stage }}</a></strong> {{ stage.developed }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if object.rocket_set.all %}
    <h5>Rockets</h5>
    <ul class="list-unstyled">
        {% for rocket in object.rocket_set.all %}
        <li><strong><a href="{{ rocket.get_absolute_url }}">{{ rocket }}</a></strong> {{ rocket.developed }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if object.spacecraft_set.all %}
    <h5>Robotic spacecraft</h5>
    <ul class="list-unstyled">
        {% for scraft in object.spacecraft_set.all %}
        <li><strong><a href="{{ scraft.get_absolute_url }}">{{ scraft }}</a></strong> {{ scraft.developed }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if object.mannedspacecraft_set.all %}
    <h5>Manned spacecraft</h5>
    <ul class="list-unstyled">
        {% for mscraft in object.mannedspacecraft_set.all %}
        <li><strong><a href="{{ mscraft.get_absolute_url }}">{{ mscraft }}</a></strong> {{ mscraft.developed }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}