{% load mine %}

<form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
        {% if field.errors %}
        <div class="form-group has-error">
            <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
            {{ field|attr:"class:form-control" }}
            {% if field.help_text %}
            <p class="help-block"><small>{{ field.help_text }}</small></p>
            {% endif %}
            <p class="text-error">
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
            </p>
        </div>
        {% else %}
        <div class="form-group">
            <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
            {% if field.field.widget.input_type == 'file' %}
            {{ field|attr:"class:form-control-file" }}
            {% else %}
            {{ field|attr:"class:form-control" }}
            {% endif %}
            {% if field.help_text %}
            <p class="help-block"><small>{{ field.help_text }}</small></p>
            {% endif %}
        </div>
        {% endif %}
    {% endfor %}
    <input type="submit" class="btn btn-success" value="Confirm" />
</form>