{% load mine %}

<form action="" method="POST">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <ul>
        {% for error in form.non_field_errors %}
        <li class="text-danger">{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% for field in form %}
        {% if field.errors %}
        <div class="form-group has-error">
            <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% if field.field.widget.input_type == 'file' %}
            {{ field|attr:"class:form-control-file" }}
            {% else %}
            {{ field|attr:"class:form-control" }}
            {% endif %}
            {% if field.field.queryset.0.get_create_url %}
            <a href="{{ field.field.queryset.0.get_create_url }}" class="glyphicon glyphicon-plus" target="_blank" title="Create a new one"></a>
            {% endif %}
            {% if field.help_text %}
            <p class="help-block"><small>{{ field.help_text }}</small></p>
            {% endif %}
            <p class="text-error">
                {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </p>
        </div>
        {% else %}
        <div class="form-group">
            <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% if field.field.widget.input_type == 'file' %}
            {{ field|attr:"class:form-control-file" }}
            {% else %}
            {{ field|attr:"class:form-control" }}
            {% endif %}
            {% if field.field.queryset.0.get_create_url %}
            <a href="{{ field.field.queryset.0.get_create_url }}" class="glyphicon glyphicon-plus" target="_blank" title="Create a new one"></a>
            {% endif %}
            {% if field.help_text %}
            <p class="help-block"><small>{{ field.help_text }}</small></p>
            {% endif %}
        </div>
        {% endif %}
    {% endfor %}
    <input type="submit" class="btn btn-success" value="Confirm" />
</form>