{% extends "catalog/guidance_system_base.html" %}

{% block title %}
    Update {{ guidance_system }}
{% endblock %}

{% block content %}
<h1><a href={% url "guidance_system_list" %}>GuidanceSystem</a></h1>
<h2>Update {{ guidance_system }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "guidance_system_detail" guidance_system.pk %}>Cancel</a>
<form style="display:inline;" action={% url "guidance_system_delete" guidance_system.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ guidance_system }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}