{% extends "catalog/guidance_system_base.html" %}

{% block title %}
    GuidanceSystems
{% endblock %}

{% block content %}
    <h1>GuidanceSystems</h1>
    <h2><a href={% url "guidance_system_create" %}>Create new GuidanceSystem</a></h2>
    <ul>
    {% for guidance_system in guidance_system_list %}
        <li><a href={% url "guidance_system_detail" guidance_system.pk %}>{{ guidance_system }}</a> | <a href={% url "guidance_system_update" guidance_system.pk %}>Update</a> | <form style="display:inline;" action={% url "guidance_system_delete" guidance_system.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ guidance_system }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No GuidanceSystems yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

