{% extends "catalog/heatshield_material_base.html" %}

{% block title %}
    HeatshieldMaterials
{% endblock %}

{% block content %}
    <h1>HeatshieldMaterials</h1>
    <h2><a href={% url "heatshield_material_create" %}>Create new HeatshieldMaterial</a></h2>
    <ul>
    {% for heatshield_material in heatshield_material_list %}
        <li><a href={% url "heatshield_material_detail" heatshield_material.pk %}>{{ heatshield_material }}</a> | <a href={% url "heatshield_material_update" heatshield_material.pk %}>Update</a> | <form style="display:inline;" action={% url "heatshield_material_delete" heatshield_material.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ heatshield_material }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No HeatshieldMaterials yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

