{% extends "catalog/heatshield_material_base.html" %}

{% block title %}
    {{ heatshield_material }}
{% endblock %}

{% block content %}
    <h1><a href={% url "heatshield_material_list" %}>HeatshieldMaterial</a></h1>
    <h2>{{ heatshield_material }} | <a href={% url "heatshield_material_update" heatshield_material.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "heatshield_material_delete" heatshield_material.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ heatshield_material }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}