{% extends "catalog/igniter_base.html" %}

{% block title %}
    Update {{ igniter }}
{% endblock %}

{% block content %}
<h1><a href={% url "igniter_list" %}>Igniter</a></h1>
<h2>Update {{ igniter }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "igniter_detail" igniter.pk %}>Cancel</a>
<form style="display:inline;" action={% url "igniter_delete" igniter.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ igniter }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}