{% extends "catalog/injector_base.html" %}

{% block title %}
    Update {{ injector }}
{% endblock %}

{% block content %}
<h1><a href={% url "injector_list" %}>Injector</a></h1>
<h2>Update {{ injector }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "injector_detail" injector.pk %}>Cancel</a>
<form style="display:inline;" action={% url "injector_delete" injector.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ injector }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}