{% extends "catalog/instrument_base.html" %}

{% block title %}
    Instruments
{% endblock %}

{% block content %}
    <h1>Instruments</h1>
    <h2><a href={% url "instrument_create" %}>Create new Instrument</a></h2>
    <ul>
    {% for instrument in instrument_list %}
        <li><a href={% url "instrument_detail" instrument.pk %}>{{ instrument }}</a> | <a href={% url "instrument_update" instrument.pk %}>Update</a> | <form style="display:inline;" action={% url "instrument_delete" instrument.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ instrument }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No Instruments yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

