{% extends "catalog/instrument_base.html" %}

{% block title %}
    Update {{ instrument }}
{% endblock %}

{% block content %}
<h1><a href={% url "instrument_list" %}>Instrument</a></h1>
<h2>Update {{ instrument }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "instrument_detail" instrument.pk %}>Cancel</a>
<form style="display:inline;" action={% url "instrument_delete" instrument.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ instrument }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}