{% extends "catalog/landing_solution_base.html" %}

{% block title %}
    {{ landing_solution }}
{% endblock %}

{% block content %}
    <h1><a href={% url "landing_solution_list" %}>LandingSolution</a></h1>
    <h2>{{ landing_solution }} | <a href={% url "landing_solution_update" landing_solution.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "landing_solution_delete" landing_solution.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ landing_solution }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}