{% extends "catalog/manufacturer_base.html" %}

{% block title %}
    {{ manufacturer }}
{% endblock %}

{% block content %}
    <h1><a href={% url "manufacturer_list" %}>Manufacturer</a></h1>
    <h2>{{ manufacturer }} | <a href={% url "manufacturer_update" manufacturer.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "manufacturer_delete" manufacturer.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ manufacturer }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}