{% extends "catalog/manufacturer_base.html" %}

{% block title %}
    Update {{ manufacturer }}
{% endblock %}

{% block content %}
<h1><a href={% url "manufacturer_list" %}>Manufacturer</a></h1>
<h2>Update {{ manufacturer }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "manufacturer_detail" manufacturer.pk %}>Cancel</a>
<form style="display:inline;" action={% url "manufacturer_delete" manufacturer.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ manufacturer }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}