{% extends "catalog/mission_target_base.html" %}

{% block title %}
    Update {{ mission_target }}
{% endblock %}

{% block content %}
<h1><a href={% url "mission_target_list" %}>MissionTarget</a></h1>
<h2>Update {{ mission_target }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "mission_target_detail" mission_target.pk %}>Cancel</a>
<form style="display:inline;" action={% url "mission_target_delete" mission_target.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ mission_target }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}