{% extends "catalog/mission_base.html" %}

{% block title %}
    Update {{ mission }}
{% endblock %}

{% block content %}
<h1><a href={% url "mission_list" %}>Mission</a></h1>
<h2>Update {{ mission }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "mission_detail" mission.pk %}>Cancel</a>
<form style="display:inline;" action={% url "mission_delete" mission.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ mission }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}