{% extends './generic_detail.html' %}

{% block otherstuff %}
    <ul class="list-unstyled">
        <li><strong>Country:</strong> {{ object.country }}</li>
        <li><strong>Organization:</strong> <a href="{{ object.organization.get_absolute_url }}">{{ object.organization }}</a></li>
        {% block crewspace %}
        {% endblock %}
        <li><strong>Launch date:</strong> {{ object.launch_date }}</li>
        <li><strong>Launch facility:</strong> <a href='{{ object.launch_facility.get_absolute_url }}'>{{ object.launch_facility }}</a></li>
        <li><strong>Launch vehicle:</strong> <a href='{{ object.launch_vehicle.get_absolute_url }}'>{{ object.launch_vehicle }}</a></li>
        <li><strong>Spacecraft:</strong> <a href='{{ object.spacecraft.get_absolute_url }}'>{{ object.spacecraft }}</a></li>
        <li><strong>Targets:</strong> {% for target in object.targets.all %}<a href='{{ target.get_absolute_url }}'>{{ target }}</a>{% endfor %}</li>
        <li><strong>Conclusion:</strong> {% if object.failure %}Failure{% else %}Success{% endif %}</li>
        <li><strong>End date:</strong> {{ object.end_date }}</li>
        {% block landing %}
        {% endblock %}
    </ul>
{% endblock %}