{% extends "catalog/nozzle_type_base.html" %}

{% block title %}
    {{ nozzle_type }}
{% endblock %}

{% block content %}
    <h1><a href={% url "nozzle_type_list" %}>NozzleType</a></h1>
    <h2>{{ nozzle_type }} | <a href={% url "nozzle_type_update" nozzle_type.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "nozzle_type_delete" nozzle_type.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ nozzle_type }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}