{% extends "catalog/nozzle_material_base.html" %}

{% block title %}
    NozzleMaterials
{% endblock %}

{% block content %}
    <h1>NozzleMaterials</h1>
    <h2><a href={% url "nozzle_material_create" %}>Create new NozzleMaterial</a></h2>
    <ul>
    {% for nozzle_material in nozzle_material_list %}
        <li><a href={% url "nozzle_material_detail" nozzle_material.pk %}>{{ nozzle_material }}</a> | <a href={% url "nozzle_material_update" nozzle_material.pk %}>Update</a> | <form style="display:inline;" action={% url "nozzle_material_delete" nozzle_material.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ nozzle_material }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No NozzleMaterials yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

