{% extends "catalog/power_cycle_base.html" %}

{% block title %}
    Update {{ power_cycle }}
{% endblock %}

{% block content %}
<h1><a href={% url "power_cycle_list" %}>PowerCycle</a></h1>
<h2>Update {{ power_cycle }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "power_cycle_detail" power_cycle.pk %}>Cancel</a>
<form style="display:inline;" action={% url "power_cycle_delete" power_cycle.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ power_cycle }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}