{% extends './generic_detail.html' %}

{% block otherstuff %}
    <ul class="list-unstyled">
        {% if object.propellants.all.count < 2 %}
        <li><strong>Monopropellant:</strong> <a href='{{ object.propellants.0.get_absolute_url }}'>{% object.propellants.0 %}</a></li>
        {% else %}
        <li><strong>Fuels:</strong> {% for fuel in object.fuels %}<a href='{{ fuel.get_absolute_url }}'>{{ fuel }}</a>{% endfor %}</li>
        <li><strong>Oxidizers:</strong> {% for oxidizer in object.oxidizers %}<a href='{{ oxidizer.get_absolute_url }}'>{{ oxidizer }}</a>{% endfor %}</li>
        {% endif %}
        <li><strong>Hypergolic:</strong> {% if object.hypergolic %}Yes{% else %}No{% endif %}</li>
        <li><strong>Specific impulse (in vacuum):</strong> {{ object.specific_impulse }}</li>
        <li><strong>Specific impulse (at sea level):</strong> {{ object.specific_impulse_sl }}</li>
        <li><strong>Characteristic velocity:</strong> {{ object.characteristic_velocity }}</li>
        <li><strong>Optimum ratio:</strong> {{ object.optimum_ratio }}</li>
        <li><strong>Combustion temperature:</strong> {{ object.combustion_temp }}</li>
    </ul>
    {% if object.engine_set.all %}
    <h4>Employed in:</h4>
    <ul class="list-unstyled">
        {% for engine in object.engine_set.all %}
        <li><a href='{{ engine.get_absolute_url }}'>{{ engine }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}