{% extends './generic_detail.html' %}

{% block otherstuff %}
    <dl class="dl-horizontal">
        <dt>Abbreviation:</dt><dd>{{ object.abbreviation }}</dd>
        {% if object.propellants.all.count < 2 %}
        <dt>Monopropellant:</dt><dd><a href='{{ object.propellants.0.get_absolute_url }}'>{{ object.propellants.0 }}</a></dd>
        {% else %}
        <dt>Fuels:</dt><dd>{% for fuel in fuels.all %}<a href='{{ fuel.get_absolute_url }}'>{{ fuel }}</a>{% endfor %}</dd>
        <dt>Oxidizers:</dt><dd>{% for oxidizer in oxidizers.all %}<a href='{{ oxidizer.get_absolute_url }}'>{{ oxidizer }}</a>{% endfor %}</dd>
        {% endif %}
        <dt>Hypergolic:</dt><dd>{% if object.hypergolic %}Yes{% else %}No{% endif %}</dd>
        <dt>Specific impulse (theoretical):</dt><dd>{{ object.specific_impulse }} sec</dd>
        <dt>Characteristic velocity:</dt><dd>{{ object.characteristic_velocity }} m/s</dd>
        <dt>Optimum ratio:</dt><dd>{{ object.optimum_ratio }}</dd>
        <dt>Combustion temperature:</dt><dd>{{ object.combustion_temp }} K</dd>
    </dl>
    {% if object.engine_set.all %}
    <h4>Employed in:</h4>
    <ul class="list-unstyled">
        {% for engine in object.engine_set.all %}
        <li><a href='{{ engine.get_absolute_url }}'>{{ engine }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}