{% extends "catalog/propellant_mix_base.html" %}

{% block title %}
    Propellant mixes
{% endblock %}

{% block content %}
    <h1>Propellant mixes</h1>
    <h2><a href={% url "propellant_mix_create" %}>Create new PropellantMix</a></h2>
    <ul>
    {% for propellant_mix in propellant_mix_list %}
        <li><a href={% url "propellant_mix_detail" propellant_mix.pk %}>{{ propellant_mix }}</a> | <a href={% url "propellant_mix_update" propellant_mix.pk %}>Update</a> | <form style="display:inline;" action={% url "propellant_mix_delete" propellant_mix.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ propellant_mix }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No Propellant mixes yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

