{% extends './generic_detail.html' %}

{% block otherstuff %}
    <dl class="dl-horizontal">
        <dt>Country:</dt><dd>{{ object.country }}</dd>
        <dt>Manufacturer:</dt><dd><a href='{{ object.manufacturer.get_absolute_url }}'>{{ object.manufacturer }}</a></dd>
        <dt>Native name:</dt><dd>{{ object.native_name }}</dd>
        {% if object.series %}
        <dt>Series:</dt><dd><a href='{{ object.series.get_absolute_url }}'>{{ object.series }}</a></dd>
        {% endif %}
        {% if object.variant_of %}
        <dt>Variant of:</dt><dd><a href='{{ object.variant_of.get_absolute_url }}'>{{ object.variant_of }}</a></dd>
        {% endif %}
        {% if object.rocket_set.all %}
        <dt>Variants:</dt><dd>{% for variant in object.rocket_set.all %}<a href='{{ variant.get_absolute_url }}'>{{ variant }}</a>{% endfor %}</dd>
        {% endif %} 
    </dl>
    <h4>Metrics</h4>
    <dl class="dl-horizontal">
        <dt>Height:</dt><dd>{{ object.height }} m</dd>
        <dt>Diameter:</dt><dd>{{ object.diameter }} m</dd>
        <dt>Dry weight:</dt><dd>{{ object.dry_weight }} kg</dd>
        <dt>Fueled weight:</dt><dd>{{ object.fueled_weight }} kg</dd>
        <dt>Payload to LEO:</dt><dd>{{ object.payload_to_leo }} kg</dd>
        <dt>Payload to GTO:</dt><dd>{{ object.payload_to_gto }} kg</dd>
        <dt>Payload to TLI:</dt><dd>{{ object.payload_to_tli }} kg</dd>
    </dl>
    <h4>Composition</h4>
    <dl class="dl-horizontal">
        <dt>Stages:</dt><dd>{% for stage in object.stages.all %}<a href='{{ stage.get_absolute_url }}'>{{ stage }}</a>{% endfor %}</dd>
        <dt>Guidance system:</dt><dd><a href='{{ object.guidance_system.get_absolute_url }}'>{{ object.guidance_system }}</a></dd>
        <dt>Battery capacity:</dt><dd>{{ object.battery_capacity }} Wh</dd>
        <dt>Fairing height:</dt><dd>{{ object.fairing_height }} m</dd>
        <dt>Fairing width:</dt><dd>{{ object.fairing_width }} m</dd>
        <dt>Fairing weight:</dt><dd>{{ object.fairing_weight }} kg</dd>
    </dl>
    <h4>History</h4>
    <dl class="dl-horizontal">
        <dt>Developed:</dt><dd>{{ object.developed }}</dd>
        <dt>First flight:</dt><dd>{{ object.first_flight }}</dd>
        <dt>Number of flights:</dt><dd>{{ object.num_flights }}</dd>
        <dt>Number of failures:</dt><dd>{{ object.failures }}</dd>
    </dl>
    {% if object.mission_set.all or object.crewedmission_set.all %}
    <h4>Launches</h4>
    <ul class="list-unstyled">
        {% for mission in object.mission_set.all %}
        <li><strong>{{ mission }}</strong> {{ mission.launch_date }}</li>
        {% endfor %}
        {% for cmission in object.crewedmission_set.all %}
        <li><strong>{{ cmission }}</strong> {{ cmission.launch_date }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}