{% extends "catalog/rocket_base.html" %}

{% block title %}
    {{ rocket }}
{% endblock %}

{% block content %}
    <h1><a href={% url "rocket_list" %}>Rocket</a></h1>
    <h2>{{ rocket }} | <a href={% url "rocket_update" rocket.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "rocket_delete" rocket.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ rocket }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}