{% extends "catalog/role_base.html" %}

{% block title %}
    Engine roles
{% endblock %}

{% block content %}
    <h1>Engine roles</h1>
    <h2><a href={% url "role_create" %}>Create new Role</a></h2>
    <ul>
    {% for role in role_list %}
        <li><a href={% url "role_detail" role.pk %}>{{ role }}</a> | <a href={% url "role_update" role.pk %}>Update</a> | <form style="display:inline;" action={% url "role_delete" role.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ role }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No Engine roles yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

