{% extends './generic_detail.html' %}

{% block otherstuff %}
    <dl class="dl-horizontal">
        <dt>Country:</dt><dd>{{ object.country }}</dd>
        <dt>Manufacturer:</dt><dd><a href='{{ object.manufacturer.get_absolute_url }}'>{{ object.manufacturer }}</a></dd>
        <dt>Native name:</dt><dd>{{ object.native_name }}</dd>
        {% if object.variant_of %}
        <dt>Variant of:</dt><dd><a href='{{ object.variant_of.get_absolute_url }}'>{{ object.variant_of }}</a></dd>
        {% endif %}
        {% if object.spacecraft_set.all %}
        <dt>Variants:</dt><dd>{% for variant in object.spacecraft_set.all %}<a href='{{ variant.get_absolute_url }}'>{{ variant }}</a>{% endfor %}</dd>
        {% endif %}
        {% block crew %}
        {% endblock %}
    </dl>
    <h4>Metrics</h4>
    <dl class="dl-horizontal">
        <dt>Height:</dt><dd>{{ object.height }} m</dd>
        <dt>Diameter:</dt><dd>{{ object.diameter }} m</dd>
        <dt>Dry weight:</dt><dd>{{ object.dry_weight }} kg</dd>
        <dt>Fueled weight:</dt><dd>{{ object.fueled_weight }} kg</dd>
        {% block volume %}
        {% endblock }
    </dl>
    <h4>Equipment</h4>
    <dl class="dl-horizontal">
        <dt>Instruments:</dt><dd>{% for instrument in object.instruments %}<a href='{{ instrument.get_absolute_url }}'>{{ instrument }}</a>{% endfor %}</dd>
        <dt>Guidance system:</dt><dd><a href='{{ object.guidance_system.get_absolute_url }}'>{{ object.guidance_system }}</a></dd>
        <dt>Antenna type:</dt><dd><a href='{{ object.antenna_type.get_absolute_url }}'>{{ object.antenna_type }}</a></dd>
        <dt>Antenna gain:</dt><dd>{{ object.antenna_gain }} dBi</dd>
        <dt>Transmitter power:</dt><dd>{{ object.transmitter_power }} W</dd>
        <dt>Attitude control system:</dt><dd><a href='{{ object.attitude_control_system.get_absolute_url }}'>{{ object.attitude_control_system }}</a></dd>
        {% block lifesupport %}
        {% endblock %}
    </dl>
    <h4>Electricity</h4>
    <dl class="dl-horizontal">
        <dt>Electricity source:</dt><dd><a href='{{ object.electricity_source.get_absolute_url }}'>{{ object.electricity_source }}</a></dd>
        <dt>Power generation:</dt><dd>{{ object.power_generation }} W</dd>
        <dt>Battery capacity:</dt><dd>{{ object.battery_capacity }} Wh</dd>
    </dl>
    <h4>Propellant tanks</h4>
    <dl class="dl-horizontal">
        <dt>Tank type:</dt><dd><a href='{{ object.tank_type.get_absolute_url }}'>{{ object.tank_type }}</a></dd>
        <dt>Tank material:</dt><dd><a href='{{ object.tank_material.get_absolute_url }}'>{{ object.tank_material }}</a></dd>
        <dt>Pressurant:</dt><dd><a href='{{ object.pressurant.get_absolute_url }}'>{{ object.pressurant }}</a></dd>
        <dt>Fuel volume:</dt><dd>{{ object.fuel_volume }} l</dd>
        <dt>Oxidizer volume:</dt><dd>{{ object.oxidizer_volume }} l</dd>
        <dt>Fuel weight:</dt><dd>{{ object.fuel_weight }} kg</dd>
        <dt>Oxidizer weight:</dt><dd>{{ object.oxidizer_weight }} kg</dd>
        {% if object.aux_fuel_volume or object.aux_fuel_weight %}
        <dt>Auxiliary fuel volume:</dt><dd>{{ object.aux_fuel_volume }} l</dd>
        <dt>Auxiliary oxidizer volume:</dt><dd>{{ object.aux_oxidizer_volume }} l</dd>
        <dt>Auxiliary fuel weight:</dt><dd>{{ object.aux_fuel_weight }} kg</dd>
        <dt>Auxiliary oxidizer weight:</dt><dd>{{ object.aux_oxidizer_weight }} kg</dd>
        {% endif %}
    </dl>
    <h4>Propulsion</h4>
    <dl class="dl-horizontal">
        <dt>Main engine{% if object.num_main_engines > 1 %}s{% endif %}:</dt><dd><a href='{{ object.main_engine.get_absolute_url }}'>{{ object.main_engine }}</a></dd>
        {% if object.num_main_engines > 1 %}
        <dt>Number of main engines:</dt><dd>{{ object.num_main_engines }}</dd>
        {% endif %}
        <dt>Auxiliary engine{% if object.num_aux_engines > 1 %}s{% endif %}:</dt><dd><a href='{{ object.aux_engine.get_absolute_url }}'>{{ object.aux_engine }}</a></dd>
        {% if object.num_aux_engines > 1 %}
        <dt>Number of auxiliary engines:</dt><dd>{{ object.num_aux_engines }}</dd>
        {% endif %}
        <dt>Burn time:</dt><dd>{{ object.burn_time }} s</dd>
    </dl>
    {% if object.heatshield or object.landing_solution %}
    <h4>Landing</h4>
    <dl class="dl-horizontal">
        <dt>Heatshield type:</dt><dd><a href='{{ object.heatshield.get_absolute_url }}'>{{ object.heatshield }}</a></dd>
        <dt>Landing solution:</dt><dd><a href='{{ object.landing_solution.get_absolute_url }}'>{{ object.landing_solution }}</a></dd>
    </dl>
    {% endif %}
    <h4>History</h4>
    <dl class="dl-horizontal">
        <dt>Developed:</dt><dd>{{ object.developed }}</dd>
        <dt>First flight:</dt><dd>{{ object.first_flight }}</dd>
        <dt>Number of flights:</dt><dd>{{ object.num_flights }}</dd>
        <dt>Number of failures:</dt><dd>{{ object.failures }}</dd>
    </dl>
    {% if object.mission_set.all or object.crewedmission_set.all %}
    <h4>Launches</h4>
    <ul class="list-unstyled">
        {% for mission in object.mission_set.all %}
        <li><strong>{{ mission }}</strong> {{ mission.launch_date }}</li>
        {% endfor %}
        {% for cmission in object.crewedmission_set.all %}
        <li><strong>{{ cmission }}</strong> {{ cmission.launch_date }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}