{% extends "catalog/stage_role_base.html" %}

{% block title %}
    Update {{ stage_role }}
{% endblock %}

{% block content %}
<h1><a href={% url "stage_role_list" %}>StageRole</a></h1>
<h2>Update {{ stage_role }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "stage_role_detail" stage_role.pk %}>Cancel</a>
<form style="display:inline;" action={% url "stage_role_delete" stage_role.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ stage_role }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}