{% extends "catalog/stage_base.html" %}

{% block title %}
    Stages
{% endblock %}

{% block content %}
    <h1>Stages</h1>
    <h2><a href={% url "stage_create" %}>Create new Stage</a></h2>
    <ul>
    {% for stage in stage_list %}
        <li><a href={% url "stage_detail" stage.pk %}>{{ stage }}</a> | <a href={% url "stage_update" stage.pk %}>Update</a> | <form style="display:inline;" action={% url "stage_delete" stage.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ stage }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No Stages yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

