{% extends './generic_detail.html' %}

{% block otherstuff %}
    <dl class="dl-horizontal">
        <dt>Country:</dt><dd>{{ object.country }}</dd>
        <dt>Manufacturer:</dt><dd><a href='{{ object.manufacturer.get_absolute_url }}'>{{ object.manufacturer }}</a></dd>
        <dt>Native name:</dt><dd>{{ object.native_name }}</dd>
        {% if object.variant_of %}
        <dt>Variant of:</dt><dd><a href='{{ object.variant_of.get_absolute_url }}'>{{ object.variant_of }}</a></dd>
        {% endif %}
        {% if object.stage_set.all %}
        <dt>Variants:</dt><dd>{% for sta in object.stage_set.all %}<a href='{{ sta.get_absolute_url }}'>{{ sta }}</a>{% endfor %}</dd>
        {% endif %}
        <dt>Role:</dt><dd><a href='{{ object.stage_role.get_absolute_url }}'>{{ object.stage_role }}</a></dd>
    </dl>
    <h4>Metrics</h4>
    <dl class="dl-horizontal">
        <dt>Height:</dt><dd>{{ object.height }}</dd>
        <dt>Diameter:</dt><dd>{{ object.diameter }}</dd>
        <dt>Dry weight:</dt><dd>{{ object.dry_weight }}</dd>
        <dt>Fueled weight:</dt><dd>{{ object.fueled_weight }}</dd>
    </dl>
    <h4>Propellant tanks</h4>
    <dl class="dl-horizontal">
        <dt>Tank type:</dt><dd><a href='{{ object.tank_type.get_absolute_url }}'>{{ object.tank_type }}</a></dd>
        <dt>Tank material:</dt><dd><a href='{{ object.tank_material.get_absolute_url }}'>{{ object.tank_material }}</a></dd>
        <dt>Fuel volume:</dt><dd>{{ object.fuel_volume }}</dd>
        <dt>Oxidizer volume:</dt><dd>{{ object.oxidizer_volume }}</dd>
        <dt>Fuel weight:</dt><dd>{{ object.fuel_weight }}</dd>
        <dt>Oxidizer weight:</dt><dd>{{ object.oxidizer_weight }}</dd>
    </dl>
    <h4>Propulsion</h4>
    <dl class="dl-horizontal">
        <dt>Main engine{% if object.num_main_engines > 1 %}s{% endif %}:</dt><dd><a href='{{ object.main_engine.get_absolute_url }}'>{{ object.main_engine }}</a></dd>
        {% if object.num_main_engines > 1 %}
        <dt>Number of main engines:</dt><dd>{{ object.num_main_engines }}</dd>
        {% endif %}
        <dt>Auxiliary engine{% if object.num_aux_engines > 1 %}s{% endif %}:</dt><dd><a href='{{ object.aux_engine.get_absolute_url }}'>{{ object.aux_engine }}</a></dd>
        {% if object.num_aux_engines > 1 %}
        <dt>Number of auxiliary engines:</dt><dd>{{ object.num_aux_engines }}</dd>
        {% endif %}
        <dt>Burn time:</dt><dd>{{ object.burn_time }}</dd>
    </dl>
    <h4>Steering</h4>
    <dl class="dl-horizontal">
        <dt>Main engine{% if object.num_main_engines > 1 %}s{% endif %} gimbal:</dt><dd>{{ object.main_gimbal_yaw_min }} - {{ object.main_gimbal_yaw_max }} yaw, {{ object.main_gimbal_pitch_min }} - {{ object.main_gimbal_pitch_max }} pitch</dd>
        <dt>Auxiliary engine{% if object.num_aux_engines > 1 %}s{% endif %} gimbal:</dt><dd>{{ object.aux_gimbal_yaw_min }} - {{ object.aux_gimbal_yaw_max }} yaw, {{ object.aux_gimbal_pitch_min }} - {{ object.aux_gimbal_pitch_max }} pitch</dd>
        {% if object.fins %}
        <dt>Fins:</dt><dd>{{ object.fins }}</dd>
        {% endif %}
    </dl>
    <h4>History</h4>
    <dl class="dl-horizontal">
        <dt>Developed:</dt><dd>{{ object.developed }}</dd>
        <dt>First flight:</dt><dd>{{ object.first_flight }}</dd>
    </dl>
    <h4>Used in</h4>
    <ul class="list-unstyled">
        {% for rocket in object.rocket_set.all %}
        <li><strong><a href="{{ rocket.get_absolute_url }}">{{ rocket }}</a></strong> {{ rocket.developed }}</li>
        {% endfor %}
    </ul>
{% endblock %}