{% extends "catalog/stage_base.html" %}

{% block title %}
    {{ stage }}
{% endblock %}

{% block content %}
    <h1><a href={% url "stage_list" %}>Stage</a></h1>
    <h2>{{ stage }} | <a href={% url "stage_update" stage.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "stage_delete" stage.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ stage }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}