{% extends "catalog/tank_material_base.html" %}

{% block title %}
    {{ tank_material }}
{% endblock %}

{% block content %}
    <h1><a href={% url "tank_material_list" %}>TankMaterial</a></h1>
    <h2>{{ tank_material }} | <a href={% url "tank_material_update" tank_material.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "tank_material_delete" tank_material.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ tank_material }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}