{% extends "catalog/tank_construction_base.html" %}

{% block title %}
    Update {{ tank_construction }}
{% endblock %}

{% block content %}
<h1><a href={% url "tank_construction_list" %}>TankConstruction</a></h1>
<h2>Update {{ tank_construction }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "tank_construction_detail" tank_construction.pk %}>Cancel</a>
<form style="display:inline;" action={% url "tank_construction_delete" tank_construction.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ tank_construction }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}