{% extends "catalog/tank_construction_base.html" %}

{% block title %}
    {{ tank_construction }}
{% endblock %}

{% block content %}
    <h1><a href={% url "tank_construction_list" %}>TankConstruction</a></h1>
    <h2>{{ tank_construction }} | <a href={% url "tank_construction_update" tank_construction.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "tank_construction_delete" tank_construction.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ tank_construction }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}