<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        {% block title %}<title>Hypergolic - the rocket science almanach</title>{% endblock %}
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="Jan Janiczek" />

        {% load static %}
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
        <link rel="stylesheet" href="{% static 'css/hypergol.css' %}" />
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    </body>
</html>