body {
    margin-top: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}

tr:hover {
    cursor: pointer;
}

.backlink {
    padding-bottom: 12px;
}

.dl-horizontal {
    dt {
        width: 240px;
        max-width: 45%;
    }
    dd {
        margin-left: 260px;
        max-width: 45%
    }
}

.results {
    margin-top: 18px;
}